.filter__container{
    display: flex;
    flex-direction: column;
    background-color: #f4f5f5;

    .filter__subcontainer-first {
        text-align: center;

        .filter__container-title {
            color: #418fde;
        }
    }

    .filter__subcontainer {
        display: flex;
        flex-direction: row;

        .filter__column {
            width: 50%;
            margin: 1% 2%;

            .filter__column-title {
                display: flex;
                flex-direction: row;

                .filter__container-p {
                    color: #838383;
                    margin-left: 10px;
                }
            }

            .filter-button {
                border: 1px solid #418fde;
                color: #418fde;
                margin-right: 10px;
                margin-bottom: 10px;
                padding: 5px 12px;
                border-radius: 5px;
                background-color: #f4f5f5;
                cursor: pointer;
            }

            .filter-button:hover {
                background-color: #418fde;
                color: #f4f5f5;
            }
            
            .filter-button:focus {
                background-color: #418fde;
                color: #f4f5f5;
                outline: none;
            }
            
            .filter-button.active {
                background-color: #418fde;
                color: #f4f5f5;
                outline: none;
            }
        }

        .filter__column-button {
            width: 12%;
            margin: 1% 2%;
            display: flex;
            align-items: center;

            .button-to_search {
                background-color: #418fde;
                color: #fff;
                border:none;
                border-radius: 8px;
                padding: 8px 25px;
                cursor: pointer;
                height: 30%;
                outline: none;
            }
            
            .button-to_search:hover {
                background-color: #479df3;
            }
        }
    }
}

@media only screen and (max-width: 860px) {
    .filter__container{
        .filter__subcontainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .filter__column {
                width: 90%;
                margin: 3% 2%;
                display: flex;
    
                .filter__column-title {
                    display: flex;
                    text-align: start;
                    flex-direction: row;
                    margin-right: 5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 725px) {
    .filter__container{
        .filter__subcontainer {
            .filter__column {
                width: 80%;
                margin: 3% 2%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .filter__column-title {
                    text-align: center;
                }

                .buttons-container-filter {
                    text-align: center;
                }
            }
            .filter__column-button {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 5%;

                .button-to_search {
                    width: 30%;
                    height: 5%;
                }
            }
        }
    }
}