.button {
    background-color: #418fde;
    color: #f4f5f5;
    border:none;
    border-radius: 12px;
    padding: 7px 23px;
    cursor: pointer;
    outline: none;
    margin-top: 10px
}

.product--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.input-container input, textarea {
    background-color: #eeeeee;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    height: 33px;
    margin: 10px;
    padding: 0px 15px 0px 15px;
}
 textarea {
     padding-top: 5px;
     height: auto;
 }

.input-container input:focus, textarea {
    outline: none;
}

.input-container select {
    background-color: #eeeeee;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    height: 33px;
    margin: 10px;
    padding: 0px 15px 0px 15px;
}

.input-container select:focus {
    outline: none;
}

.input-container{
    .select__container{
        .select__items-selected{
            display: flex;
            flex-wrap: wrap;
            span {
                display: flex;
                cursor: pointer;
                align-items: center;
                margin-right: 5px;
                background-color: rgb(158, 158, 173);
                border-radius: 10px;
                padding: 5px;
                color: white;
                svg{
                    margin-left: 5px;
                }
            }
        }
    }
}

.variant__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}